<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm
            :product="selectedItem"
            ref="productForm"
            @save="saveProduct"
          ></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(price)="{ item }">
              {{
                item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
              }}
              บาท
            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button>
              <b-button
                @click="deleteProduct(item)"
                class="ml-1"
                variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    makeToast (title, message, variant = 'success', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveProduct (product) {
      console.log('Submit', product)
      if (product._id === '') {
        // Add new
        axios.post('http://localhost:3000/products', product).then(
          (response) => {
            const newProduct = response.data
            this.getProduct()
            this.makeToast('เพิ่มสำเร็จ', 'สินค้า ' + newProduct._id + ' เพิ่มแล้ว')
          }
        ).catch(() => {
          this.makeToast('เพิ่มไม่สำเร็จ', 'ไม่สามารถเพิ่ม' + product._id, 'danger')
        })
      } else {
        axios.put('http://localhost:3000/products/' + product._id, product).then(
          (response) => {
            const updateProduct = response.data
            this.getProduct()
            this.makeToast('แก้ไขสำเร็จ', 'สินค้า ' + updateProduct._id + ' แก้ไขแล้ว')
          }
        ).catch(() => {
          this.makeToast('ปรับปรุงไม่สำเร็จ', 'ไม่สามารถปรับปรุง' + product._id, 'danger')
        })
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      if (confirm(`คุณต้องการจะลบสินค้า ${product._id} หรือไม่`)) {
        axios.delete('http://localhost:3000/products/' + product._id).then(
          (response) => {
            this.getProduct()
            this.makeToast('ลบสำเร็จ', 'สินค้า ' + product._id + ' ลบแล้ว')
          }
        ).catch(() => {
          this.makeToast('ลบไม่สำเร็จ', 'ไม่สามารถลบ' + product._id, 'danger')
        })
      }
    },
    getProduct () {
      const self = this
      axios.get('http://localhost:3000/products').then(
        (response) => {
          console.log(response)
          self.productItems = response.data
        }
      )
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา(บาท)' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItems: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getProduct()
  }
}
</script>
<style></style>
